<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAQAcquisitionService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAQAcquisitionService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="YOUR AQACQUISITION SERVICES ADDRESS"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAQAcquisitionService"
                contract="Aquarius.IAQAcquisitionService" name="BasicHttpBinding_IAQAcquisitionService" />
            <endpoint address="YOUR AQACQUISITION SERVICES ADDRESS"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAQAcquisitionService"
                contract="Aquarius.IAQAcquisitionService" name="WSHttpBinding_IAQAcquisitionService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>